.speech {color:black;font-size:14;font-family: 'Times New Roman';}
.hover{background-color:lightgreen;color:red;}
.ORLANDO{color:yellowgreen;font-size:14;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold';background-color:yellow;}
.ADAM{color:violet;font-size:16;font-family:'Aria1';background-color:green;}
.OLIVER{color:white;font-size:32;font-family:initial;background-color:orangered;}
table { border: dashed 3px rgb(64, 187, 60);
    border-collapse: separate;margin-left: 10pt;margin-right: 10pt;margin-top: 10pt;margin-bottom: 10pt;}
    td, th {border: solid 1px ;
        text-align: center;background: repeating-linear-gradient(
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2) 10px,
            rgba(0, 0, 0, 0.3) 10px,
            rgba(0, 0, 0, 0.3) 20px
          );padding-left: 10mm;padding-right: 3rem;padding-top: 10pt;padding-bottom:10pt;}

          .ORLANDO:hover{color:sandybrown;text-shadow:springgreen;border: dashed 3px rgb(64, 187, 60);}
          .ADAM:hover{color:rgb(165, 96, 244);text-shadow:rgb(255, 145, 0);border: solid 3px rgb(240, 63, 63);}
          .OLIVER:hover{color:rgb(34, 145, 71);text-shadow:rgba(47, 74, 92, 0.432);border: dashed 3px rgb(62, 197, 179);}
          ul{
            list-style-type: none;
            margin:0;
            padding:0;
            overflow: hidden;
          }
 
          li{
            float:left;
            border:6px solid springgreen;
          }
 
          li a{
            display: block;
            padding: 10px;
            background-color: violet;
          }