.speech {color:black;font-size:14;font-family: 'Times New Roman';}
.hover{background-color:lightgreen;color:red;}
.ORLANDO{color:yellowgreen;font-size:14;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold';background-color:yellow;}
.ADAM{color:violet;font-size:16;font-family:'Aria1';background-color:green;}
.OLIVER{color:white;font-size:32;font-family:initial;background-color:orangered;}